.post-table {
    width: 100%;
    border-collapse: collapse; 
}

.post-table th, .post-table td {
    padding: 10px;
    border: 1px solid #ddd; 
    text-align: left; 
}

.post-table th {
    background-color: #f0f0f0; 
    font-weight: bold;
}

.post-table tr:hover {
    background-color: #f5f5f5; 
}

.tag {
    display: inline-block; 
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 3px 6px;
    background-color: #eee; 
    border-radius: 3px; 
}