.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 15px; 
    text-align: center;
    cursor: pointer;
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s ease; 
}

    .product:hover {
        border-color: #333;
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .product img {
        width: 100%; 
        height: 250px; 
        object-fit: cover;
        margin-bottom: 10px;
    }


.product h3 { 
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.product p.price { 
    font-weight: bold;
    color: #555; 
    margin-bottom: 10px;
}

.product p.description {
    font-size: 0.9rem;
    color: #777;
    flex-grow: 1; 
}